# Dependencias
xlrd ==  1.2.0
nilearn

Os pacientes do AMBAC são disléxicos. Tem uns que não, mas dai eu posso compartilhar a tabela contigo e ali diz quais não são.
No SCHOOLS, os participantes SCHB são bons leitores, os SCHM são maus leitores e os SCHR são os leitores regulares.

In [1]:
import pandas as pd
import glob
import os
os.chdir('/home/marilia/Área de Trabalho/dados_acerta/projeto-cpm')

## Lendo dados

In [2]:
dfFmriAMBAC = pd.read_excel("Exames fMRI ACERTA.xlsx",  header=2, sheet_name='Ambulatório ACERTA - MNI')

dfFmriSchools = pd.read_excel("Exames fMRI ACERTA.xlsx",  header=[0,1,2], sheet_name='SCHOOLS Scan - Dados Leitura')

dfAmbac = pd.read_excel("AMBAC.xlsx", header=2)

dfSchools = pd.read_excel("SCHOOLS.xlsx", header=[0,1,2])

## AMBAC

In [3]:
# ver qual das sheets eu vou precisar usar
dfFmriAMBAC.head()

,fMRI participant #,Patient NAME,Age,QI,Protocol,Group,Comentários,Processando?,num TRs above mot limit,average motion (per TR),...,Podemos usar? .1,Total.3,Processando?.4,num TRs above mot limit.4,average motion (per TR).4,TRs Censored.3,registro anat X EPI.4,Ativação.3,Comentario .2,Podemos usar? .2
0,1,Gregory Morais Pires,11,NaN,AMBAC,Dislex,NaN,done,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Estevão de Oliveira Guima,11,103,AMBAC,Dislex,NaN,done,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Guilherme Conceição,11,115,AMBAC,Dislex,Teve que realizar Imagem T1 duas vezes pq se m...,done,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,-,-,-,-,-,-,-,-,-,...,-,NaN,-,-,-,-,-,-,-,-
4,5,Livia Freitas Larroque,9,103,AMBAC,Dislex,Teve que realizar Imagem T1 duas vezes pq se m...,done,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
dfFmriAMBAC['Group'].unique()

array(['Dislex', '-', 'Dificuldade de Aprendizagem', 'Dislexia',
       'Controle', 'Disléxico', 'Disléxica'], dtype=object)

In [5]:
dfFmriAMBAC = dfFmriAMBAC[dfFmriAMBAC['Group'] != '-']
dfFmriAMBACControle = dfFmriAMBAC[dfFmriAMBAC['Group'] =='Controle']
dfFmriAMBACDificuldade = dfFmriAMBAC[dfFmriAMBAC['Group'] == 'Dificuldade de Aprendizagem']

In [6]:
dfFmriAMBACDislexicos = dfFmriAMBAC.drop(dfFmriAMBACDificuldade.index)
dfFmriAMBACDislexicos = dfFmriAMBACDislexicos.drop(dfFmriAMBACControle.index)
dfFmriAMBACDislexicos['Group'] = 'Dislex'
dfFmriAMBACDislexicos['Group'].unique()

array(['Dislex'], dtype=object)

In [7]:
frames = [dfFmriAMBACDislexicos, dfFmriAMBACControle, dfFmriAMBACDificuldade]

dfResultFmriAMBAC = pd.concat(frames)

In [8]:
dfResultFmriAMBAC.head()

,fMRI participant #,Patient NAME,Age,QI,Protocol,Group,Comentários,Processando?,num TRs above mot limit,average motion (per TR),...,Podemos usar? .1,Total.3,Processando?.4,num TRs above mot limit.4,average motion (per TR).4,TRs Censored.3,registro anat X EPI.4,Ativação.3,Comentario .2,Podemos usar? .2
0,1,Gregory Morais Pires,11,NaN,AMBAC,Dislex,NaN,done,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Estevão de Oliveira Guima,11,103,AMBAC,Dislex,NaN,done,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Guilherme Conceição,11,115,AMBAC,Dislex,Teve que realizar Imagem T1 duas vezes pq se m...,done,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Livia Freitas Larroque,9,103,AMBAC,Dislex,Teve que realizar Imagem T1 duas vezes pq se m...,done,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,Gabriel Nunes Ferreira,9,126,AMBAC,Dislex,NaN,done,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
dfResultFmriAMBAC['fmri_id'] = dfResultFmriAMBAC['fMRI participant #'].astype(str).str.zfill(3)
dfResultFmriAMBAC['fmri_code'] = "AMBAC" + dfResultFmriAMBAC['fMRI participant #'].astype(str).str.zfill(3)

In [10]:
for index, row in dfResultFmriAMBAC.iterrows():
    for file in glob.glob('correlation_matrix/*'+row['fmri_id']+'.txt'):
        dfResultFmriAMBAC.loc[index,'correlation_matrix'] = file

In [11]:
dfResultFmriAMBAC_Filtered = dfResultFmriAMBAC[['fMRI participant #', 'Patient NAME', 'Age', 'QI', 'Protocol', 'Group', 'Comentários', 'fmri_id', 'correlation_matrix', 'fmri_code']]

In [12]:
dfResultFmriAMBAC_Filtered.head()

,fMRI participant #,Patient NAME,Age,QI,Protocol,Group,Comentários,fmri_id,correlation_matrix,fmri_code
0,1,Gregory Morais Pires,11,NaN,AMBAC,Dislex,NaN,001,NaN,AMBAC001
1,2,Estevão de Oliveira Guima,11,103,AMBAC,Dislex,NaN,002,correlation_matrix/AMBAC002.txt,AMBAC002
2,3,Guilherme Conceição,11,115,AMBAC,Dislex,Teve que realizar Imagem T1 duas vezes pq se m...,003,NaN,AMBAC003
4,5,Livia Freitas Larroque,9,103,AMBAC,Dislex,Teve que realizar Imagem T1 duas vezes pq se m...,005,correlation_matrix/AMBAC005.txt,AMBAC005
5,6,Gabriel Nunes Ferreira,9,126,AMBAC,Dislex,NaN,006,correlation_matrix/AMBAC006.txt,AMBAC006

In [13]:
print("Shape dfAmbac antes: "+ str(dfAmbac.shape))

dfAmbac = dfAmbac.loc[:, dfAmbac.isnull().mean() < .1]

print("Shape dfAmbac DEPOIS: "+ str(dfAmbac.shape))

Shape dfAmbac antes: (468, 139)
Shape dfAmbac DEPOIS: (468, 104)

In [14]:
dfAmbac.iloc[:,0].str.strip()

0                Alicia Paier Pereira
1        Amanda de Souza C. Fernandes
2                 Brenda Leandro Maia
3      Bruno de Carvalho Rocha Strunz
4               Bruno Machado Godniak
                    ...
463            Pietra Soares de Abreu
464                Bruno Matheus Odir
465         Karoline Beninca Linhares
466       Cristine de Miranda Antunes
467      Larissa Bernardes de Quadros
Name: Nome, Length: 468, dtype: object

In [15]:
from difflib import SequenceMatcher

def verifica(nome):
    achei = False
    big_ratio = 0.0
    min_ratio = 0.7
    if not pd.isna(nome):
        for index, row in dfResultFmriAMBAC_Filtered.iterrows():
#             print("Nome: "+ nome + " fmri: "+ nomeFmri)
            ratio = SequenceMatcher(None, nome.strip(), row['Patient NAME'].strip()).ratio()
            if (ratio >= big_ratio and ratio>=min_ratio):
                big_ratio = ratio
                achei = row['fMRI participant #']
    return achei
    
dfAmbac["TrueFalse"] = dfAmbac.iloc[:,0].apply(lambda row: verifica(row))
dfAmbac.head()

,Nome,DX,FEZ QI,QI Nº,SIGNIFICADO,Ordem direta bruto,Span direto,Ordem inversa bruto,span inverso,CHAMAR fMRI?,...,LEIT_PRECIS,ERRO_PRECIS,VEL_PRECIS (PAL/MIN),LEIT_VIA,LEIT_FLU,LEIT_FLUENC_S,LEIT_FLUENC_O,LEIT_COMPR,DISLEXIA,TrueFalse
0,Alicia Paier Pereira,5,1,85,médio inferior,NC,NC,NC,NC,2,...,2,40,16,1,1,27,27,1,2,False
1,Amanda de Souza C. Fernandes,5,1,117,médio sup.,NC,NC,NC,NC,2,...,1,28,8,3,1,32,23,1,2,False
2,Brenda Leandro Maia,5,1,83,médio inf.,NC,NC,NC,NC,1,...,1,45,24,3,2,68,50,1,3,8
3,Bruno de Carvalho Rocha Strunz,NC,2,NC,NC,NC,NC,NC,NC,NC,...,NC,NC,NC,NC,NC,NC,NC,NC,NC,False
4,Bruno Machado Godniak,4,1,126,superior,NC,NC,NC,NC,1,...,1,68,11,3,1,16,17,2,1,False

In [16]:
result = pd.merge(dfAmbac, dfResultFmriAMBAC_Filtered, left_on='TrueFalse', right_on='fMRI participant #')

In [17]:
result["Group"] = result["Group"].astype('category')
result["Group_cat"] = result["Group"].cat.codes
result.head()

,Nome,DX,FEZ QI,QI Nº,SIGNIFICADO,Ordem direta bruto,Span direto,Ordem inversa bruto,span inverso,CHAMAR fMRI?,...,Patient NAME,Age,QI,Protocol,Group,Comentários,fmri_id,correlation_matrix,fmri_code,Group_cat
0,Brenda Leandro Maia,5,1,83,médio inf.,NC,NC,NC,NC,1,...,Brenda Leandro Maia,10,NaN,AMBAC,Dificuldade de Aprendizagem,Descartar: paciente canhota,008,NaN,AMBAC008,1
1,Brendha Machado Maia,EX,EX,EX,EX,4,3,0,0,EX,...,Brenda Leandro Maia,10,NaN,AMBAC,Dificuldade de Aprendizagem,Descartar: paciente canhota,008,NaN,AMBAC008,1
2,Estevão de Oliveira Guimarães,4,1,103,médio,NC,NC,NC,NC,1,...,Estevão de Oliveira Guima,11,103,AMBAC,Dislex,NaN,002,correlation_matrix/AMBAC002.txt,AMBAC002,2
3,Gregory Moraes Pires do Amaral,4,1,85,médio inf.,NC,NC,NC,NC,1,...,Gregory Morais Pires,11,NaN,AMBAC,Dislex,NaN,001,NaN,AMBAC001,2
4,Kellen Ariane Medeiros Rohde,4,1,112,médio superior,NC,NC,NC,NC,1,...,Kellen Ariane Rohde,9,112,AMBAC,Dislex,Pseudopalavra tinha sido rodado duas vezes. Pa...,007,correlation_matrix/AMBAC007.txt,AMBAC007,2

In [18]:
result[[result.iloc[:,0].name, "Patient NAME"]]

                              Nome               Patient NAME
0              Brenda Leandro Maia        Brenda Leandro Maia
1             Brendha Machado Maia        Brenda Leandro Maia
2    Estevão de Oliveira Guimarães  Estevão de Oliveira Guima
3   Gregory Moraes Pires do Amaral       Gregory Morais Pires
4     Kellen Ariane Medeiros Rohde        Kellen Ariane Rohde
..                             ...                        ...
74        Luiza Luvizatto Drachler   Luiza Luvizetto Drachler
75         Maria Luiza Gaspar Luiz         Maria Luiza Gaspar
76          Maria Luiza Paz Bastos         Maria Luiza Gaspar
77      Maria Luiza da Rosa Bender         Maria Luiza Gaspar
78       Larissa Loureiro de Souza  Larissa Loureiro de Souza

[79 rows x 2 columns]

In [19]:
result.head()

,Nome,DX,FEZ QI,QI Nº,SIGNIFICADO,Ordem direta bruto,Span direto,Ordem inversa bruto,span inverso,CHAMAR fMRI?,...,Patient NAME,Age,QI,Protocol,Group,Comentários,fmri_id,correlation_matrix,fmri_code,Group_cat
0,Brenda Leandro Maia,5,1,83,médio inf.,NC,NC,NC,NC,1,...,Brenda Leandro Maia,10,NaN,AMBAC,Dificuldade de Aprendizagem,Descartar: paciente canhota,008,NaN,AMBAC008,1
1,Brendha Machado Maia,EX,EX,EX,EX,4,3,0,0,EX,...,Brenda Leandro Maia,10,NaN,AMBAC,Dificuldade de Aprendizagem,Descartar: paciente canhota,008,NaN,AMBAC008,1
2,Estevão de Oliveira Guimarães,4,1,103,médio,NC,NC,NC,NC,1,...,Estevão de Oliveira Guima,11,103,AMBAC,Dislex,NaN,002,correlation_matrix/AMBAC002.txt,AMBAC002,2
3,Gregory Moraes Pires do Amaral,4,1,85,médio inf.,NC,NC,NC,NC,1,...,Gregory Morais Pires,11,NaN,AMBAC,Dislex,NaN,001,NaN,AMBAC001,2
4,Kellen Ariane Medeiros Rohde,4,1,112,médio superior,NC,NC,NC,NC,1,...,Kellen Ariane Rohde,9,112,AMBAC,Dislex,Pseudopalavra tinha sido rodado duas vezes. Pa...,007,correlation_matrix/AMBAC007.txt,AMBAC007,2

In [22]:
from pandas_profiling import ProfileReport
report = result.profile_report()
report.to_file("report.html")

Summarize dataset: 100%|██████████| 130/130 [01:30<00:00,  1.43it/s, Completed]
Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]/home/marilia/.local/lib/python3.6/site-packages/pandas_profiling/visualisation/plot.py:154: MatplotlibDeprecationWarning: You are modifying the state of a globally registered colormap. In future versions, you will not be able to modify a registered colormap in-place. To remove this warning, you can make a copy of the colormap first. cmap = copy.copy(mpl.cm.get_cmap("RdBu"))
  cmap.set_bad(cmap_bad)
Generate report structure: 100%|██████████| 1/1 [00:10<00:00, 10.86s/it]
Render HTML: 100%|██████████| 1/1 [00:04<00:00,  4.10s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 63.50it/s]

## SCHOOLS

In [20]:
dfFmriSchools = dfFmriSchools.rename(columns={'Unnamed: 3':'Sexo', 'Unnamed: 4': 'age_2015', 'Unnamed: 5': 'age_2016', 'Unnamed: 6': 'QI', 'Unnamed: 7':'SES'})
dfFmriSchools['Tarefa fMRI - PALAVRAS E PSEUDO']['Funcional Usável?'][2015].value_counts()
dfFmriSchools['Tarefa fMRI - PALAVRAS E PSEUDO']['Funcional Usável?'][2016].value_counts()
#SCHB são bons leitores, os SCHM são maus leitores e os SCHR são os leitores regulares

dfFmriSchools['categoria']  = ' '
for index, row in dfFmriSchools.iterrows():
    primeiraLetra = row['fMRI participant #']['Unnamed: 0_level_1']['Unnamed: 0_level_2'][0]
    dfFmriSchools.loc[index,['categoria']] = primeiraLetra

dfFmriSchools['categoria'].value_counts()
dfFmriSchools['fmri_utilizavel_2015'] = dfFmriSchools['Tarefa fMRI - PALAVRAS E PSEUDO']['Funcional Usável?'][2015]
dfFmriSchools.groupby(['fmri_utilizavel_2015', 'categoria']).mean()

/home/marilia/.local/lib/python3.6/site-packages/pandas/core/generic.py:3889: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

                                  Escola                            \
                                   Idade
                                    2015      2016          QI SES
fmri_utilizavel_2015 categoria
não                  B          8.666667  9.500000   96.000000 NaN
                     M          8.000000  9.000000   78.500000 NaN
sim                  B          8.631579  9.125000  101.555556 NaN
                     M          8.560000  9.315789   93.636364 NaN
                     R          8.833333  9.444444  105.625000 NaN

                               Compreensão Leitora                          \
                                         Tempo (s)
                                              2014        2015        2016
fmri_utilizavel_2015 categoria
não                  B                  106.666667   86.666667  118.000000
                     M                  195.666667  159.000000  190.000000
sim                  B                   71.882353   75.294118  101.928571
                     M                  148.739130  145.347826  142.047619
                     R                  111.090909  112.166667  115.363636

                                                                        \
                               Velocidade de Leitura (palavras/minuto)
                                                                  2014
fmri_utilizavel_2015 categoria
não                  B                                       67.818981
                     M                                       36.219501
sim                  B                                       86.819228
                     M                                       45.717378
                     R                                       53.709323

                                                        ...  \
                                                        ...
                                      2015        2016  ...
fmri_utilizavel_2015 categoria                          ...
não                  B           97.971673   89.428346  ...
                     M           67.353571   49.745685  ...
sim                  B          118.763515  117.044939  ...
                     M           62.588992   71.854308  ...
                     R           80.903550   85.062504  ...

                               Tarefa fMRI - PALAVRAS E PSEUDO               \
                                Tempo de Resposta - Iregulares
                                                          2015         2016
fmri_utilizavel_2015 categoria
não                  B                             1950.366667  1771.600000
                     M                             4187.350000  3272.125000
sim                  B                             1924.086842  1745.690000
                     M                             2912.546154  2643.767391
                     R                             2530.190909  2036.195455

                                                                         \
                               Palavras Perdidas - Iregulares
                                                         2015      2016
fmri_utilizavel_2015 categoria
não                  B                               0.333333  0.000000
                     M                               0.000000  0.000000
sim                  B                               0.421053  0.133333
                     M                               1.153846  0.913043
                     R                               0.272727  1.000000

                                                             \
                               Acurácia - Pseudo
                                            2015       2016
fmri_utilizavel_2015 categoria
não                  B                 17.000000  19.000000
                     M                  5.000000  15.000000
sim                  B                 18.368421  18.866667
                     M                 14.153846  16.434783
                     R                 18.090909  17.272727

                                                                        \
                               Tempo de Resposta - Pseudo
                                                     2015         2016
fmri_utilizavel_2015 categoria
não                  B                        2953.766667  2475.800000
                     M                        3324.050000  3645.200000
sim                  B                        2713.052632  2644.640000
                     M                        3359.121154  3520.371739
                     R                        3244.031818  2907.454545


                               Palavras Perdidas - Pseudo
                                                     2015      2016
fmri_utilizavel_2015 categoria
não                  B                           0.666667  0.500000
                     M                           4.000000  1.500000
sim                  B                           0.631579  0.466667
                     M                           2.307692  1.083333
                     R                           0.636364  0.818182

[5 rows x 56 columns]